MAX_POSTS=10
CHANNEL_ID=UCE6acMV3m35znLcf0JGNn7Q
MENTION=everyone
API_KEY=YoUtuBEAPikEYfRoMGooGLeDevC0nS01e
WEBHOOK_URL=https://discord.com/api/webhooks/12345978901234567/abcd_efGhIjklMn_opQrsTuVwx-yz1234_56
POST_IGNORELIST_URL=https://example.com/community_posts_ignorelist.txt